@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

body {
  margin: 0px;
  font-family: "Noto Sans", sans-serif;
}

button {
  font-family: "Noto Sans", sans-serif;
}

.initial-container {
  width: 100%;
  height: 620px;
  background: url("/IMG_20201215_144357.jpg");

  background-size: cover;
  position: relative;
}

.initial-container-filter {
  position: absolute;
  width: 100%;
  height: 100%;

  background: #ffffff8a;
}

.initial-logo {
  position: absolute;
  width: 150px;
  top: 5px;
  right: 5px;
}

.initial-contacts {
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: #ffffff8c;
  border-radius: 35px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.initial-contacts-image {
  margin-right: 10px;
}

.initial-title-text {
  position: absolute;
  text-align: center;
  color: #0000b3;
  font-size: 28px;
  font-weight: bold;
  margin-top: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 5px;
  width: 800px;
}

.initial-contacts-text {
  color: #0000b3;
}

.initial-title-button {
  position: absolute;
  margin-top: 12%;
  left: 50%;
  transform: translate(-50%, 0);
  background: #0000b3;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 25px;
  padding: 15px;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 50%);
  border: 0;
}

.initial-360-logo {
  position: absolute;
  width: 50px;
  left: 5px;
  bottom: 5px;
}

.initial-contacts-block {
  display: flex;
  padding: 10px;
}

.cubes-container {
}

.cubes-title {
}

.cubes-subcontainer {
  padding: 80px;
}

.cubes-row {
  display: flex;
}

.cubes-left-block {
  position: relative;
  width: 35%;
  margin: 1%;
}

.cubes-block-image {
  width: 100%;
  border-radius: 45px;
  box-shadow: 7px 7px 24px 1px #0000009c;
}

.cubes-left-block-blue {
  position: absolute;
  width: 80%;
  height: 100%;
  left: -30px;
  top: -30px;
  background: #8686ed;
  z-index: -1;
  border-radius: 45px;
}

.cubes-right-block {
  position: relative;
  background: white;
  width: 55%;
  min-height: 100%;
  box-shadow: 7px 7px 24px 1px #0000009c;
  border-radius: 45px;
  padding: 30px;
  line-height: 26px;
  left: 10px;
}

.cubes-bottom-block {
  position: relative;
  background: white;
  margin-top: 20px;
  width: 30%;
  box-shadow: 7px 7px 24px 1px #0000009c;
  border-radius: 45px;
  padding: 30px;
  line-height: 26px;
  left: 18%;
}

.cubes-block-tick {
  width: 20px;
}

.cubes-bottom-block-pink {
  position: absolute;
  width: 90%;
  height: 100%;
  left: -30px;
  bottom: -30px;
  background: #f18598;
  z-index: -1;
  border-radius: 45px;
}

.cubes-block-title {
  font-size: 20px;
  font-weight: bold;
}

.cubes-block-title:first-child {
  margin-bottom: 10px;
}

.cubes-block-text {
  font-size: 17px;
}

.cubes-button {
  background: #0000b3;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 50%);
  border: 0;
  margin-top: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 35px;
}

.cubes-right-block-green {
  position: absolute;
  width: 65%;
  height: 100%;
  right: -30px;
  top: -30px;
  background: #92f592;
  z-index: -1;
  border-radius: 45px;
}
.burger-icon {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.5;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 2;
  cursor: pointer;
}

.burger-icon-stripe {
  height: 2px;
  width: 22px;
  background: white;
  margin: 2px;
}

.menu-container {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  z-index: 3;
  pointer-events: none;
}

.menu-background {
  flex-grow: 1;
  background: white;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}

.menu-background-opened {
  opacity: 0.5;
  pointer-events: auto;
}

.menu-content {
  width: 170px;
  height: 100%;
  background: #0000b3;
  padding: 40px;
  position: absolute;
  right: -250px;
  top: 0;
  transition: all 0.3s ease;
  pointer-events: auto;
}

.menu-content-opened {
  right: 0;
}

.menu-close {
  margin-left: auto;
  width: 42px;
  margin-top: -25px;
  margin-right: -50px;
  cursor: pointer;
  height: 42px;
  padding: 10px;
}

.menu-close-stripe {
  height: 2px;
  width: 22px;
  background: white;
  transform: rotate(45deg);
  position: absolute;
}

.menu-close-stripe:last-child {
  transform: rotate(135deg);
}

.menu-image {
  height: 230px;
}

.menu-link {
  font-size: 20px;
  color: white;
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
}

.container-title {
  font-size: 30px;
  color: black;
  margin-top: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.videos-block-container {
  display: flex;
}

.videos-block {
  width: 46%;
  margin: 2%;
}

.videos-block-big {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.cubes-container {
}

@media (max-width: 560px) {
  .videos-block-container {
    flex-direction: column;
  }

  .initial-title-text {
    width: 290px;
    font-size: 16px;
    top: 39%;
  }

  .videos-block {
    width: 96%;
  }
  .initial-logo {
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    top: 5%;
  }

  .initial-container {
    height: 100vh;
    background-position: 52% 10%;
  }

  .initial-button {
    bottom: 33%;
  }
  .initial-360-logo {
    left: 50%;
    transform: translateX(-50%);
    bottom: 19%;
    width: 65px;
  }

  .initial-contacts {
    width: 84%;
    left: 8%;
  }
}
