@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

body {
  margin: 0px;
  font-family: "Noto Sans", sans-serif;
}

button {
  font-family: "Noto Sans", sans-serif;
}

.initial-container {
  width: 100%;
  height: 500px;
  background: url("/IMG_20201215_144357.jpg");

  background-size: cover;
  position: relative;
}

.initial-container-filter {
  position: absolute;
  width: 100%;
  height: 100%;

  background: #ffffff8a;
}

.initial-logo {
  position: absolute;
  width: 150px;
  height: 250px;
  top: 5px;
  right: 5px;
}

.initial-contacts {
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: #ffffffbf;
  border-radius: 25px;
  padding: 5px;
}

.initial-title-text {
  position: absolute;
  text-align: center;
  color: #0000b3;
  font-size: 28px;
  font-weight: bold;
  margin-top: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 5px;
  width: 800px;
}

.initial-title-button {
  position: absolute;
  margin-top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  background: #0000b3;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 25px;
  padding: 15px;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 50%);
  border: 0;
}

.initial-360-logo {
  position: absolute;
  height: 50px;
  width: 50px;
  left: 5px;
  bottom: 5px;
}

.initial-contacts-block {
  display: flex;
}

.cubes-container {
}

.cubes-title {
}

.cubes-subcontainer {
}

.cubes-row {
  display: flex;
}

.cubes-left-block {
  position: relative;
}

.cubes-block-image {
  width: 350px;
  height: 200px;
  border-radius: 25px;
}

.cubes-left-block-blue {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -30px;
  top: -30px;
  background: blue;
  z-index: -1;
  border-radius: 25px;
}

.cubes-right-block {
}

.cubes-block-title {
}

.cubes-block-title:first-child {
  margin-bottom: 10px;
}

.burger-icon {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.5;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 2;
  cursor: pointer;
}

.burger-icon-stripe {
  height: 2px;
  width: 22px;
  background: white;
  margin: 2px;
}

.menu-container {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  z-index: 3;
  pointer-events: none;
}

.menu-background {
  flex-grow: 1;
  background: white;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}

.menu-background-opened {
  opacity: 0.5;
  pointer-events: auto;
}

.menu-content {
  width: 170px;
  height: 100%;
  background: #0000b3;
  padding: 40px;
  position: absolute;
  right: -250px;
  top: 0;
  transition: all 0.3s ease;
  pointer-events: auto;
}

.menu-content-opened {
  right: 0;
}

.menu-close {
  margin-left: auto;
  width: 42px;
  margin-top: -25px;
  margin-right: -50px;
  cursor: pointer;
  height: 42px;
  padding: 10px;
}

.menu-close-stripe {
  height: 2px;
  width: 22px;
  background: white;
  transform: rotate(45deg);
  position: absolute;
}

.menu-close-stripe:last-child {
  transform: rotate(135deg);
}

.menu-image {
  height: 230px;
}

.menu-link {
  font-size: 20px;
  color: white;
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
}

.container-title {
  font-size: 30px;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.videos-block-container {
  display: flex;
}

.videos-block {
  width: 46%;
  margin: 2%;
}

.videos-block-big {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
